* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  word-wrap: break-word;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-image: linear-gradient(to top, #f7971e 0%, #ffd200 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-star {
  margin-right: 0.5rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #da4040;
  color: #fff;
}

.button:hover {
  background: #ffffff;
  color: #da4040;
  transition: all 0.5s ease-in-out;
}

.navbar__links:hover {
  color: #f77062;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Main Content CSS */
.main {
  background-color: #141414;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #131313;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
}

.main__content {
  color: #fff;
  width: 100%;
}

.main__content h1 {
  font-size: 4rem;
  background-size: 100%;
  background: linear-gradient(-45deg, #ff3c00, #fa6ba2, #10befd, #02ffc4);
  animation: gradient_animation 5s ease infinite;
  -webkit-animation: gradient_animation 5s ease infinite;
  -moz-animation: gradient_animation 5s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@keyframes gradient_animation {
  0% {
    background-position: 0% 52%;
  }
  50% {
    background-position: 100% 52%;
  }
  100% {
    background-position: 0% 52%;
  }
}

.main__content h2 {
  font-size: 4rem;
  margin-top: 10px;
  background: linear-gradient(-45deg, #83ee52, #e73c7e, #d52323, #ffee02);
  /* background-size: 100%; */
  animation: gradient_animation 5s ease infinite;
  -webkit-animation: gradient_animation 5s ease infinite;
  -moz-animation: gradient_animation 5s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.main__btn {
  font-size: 1rem;
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #4837ff;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

#main__img {
  height: 80%;
  width: 80%;
  border-radius: 10px;
  animation: slide_up 3s ease infinite;
  animation-timing-function: linear;
}
@keyframes slide_up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Mobile Responsive */
@media screen and (max-width: 768px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }
  @media screen and (max-width: 960px) {
    .main__content {
      margin-bottom: 0.5rem;
    }
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  #main__img {
    width: 60%;
  }

  @media screen and (max-width: 460px) {
    #main__img {
      width: 90%;
    }
  }
}

@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* Footer CSS */
.footer__container {
  background-color: #141414;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

/* Social Icons */
.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website__rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  #footer__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

/* Section 2 Styles */

.section__btn {
  background-color: #fff;
  color: #000;
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
  padding: 20px 60px;
  border-radius: 40px;
  display: block;
  cursor: pointer;
}
.section__btn:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s ease-out;
}

.section_container {
  padding: 150px 90px 150px 90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .section_container {
    padding: 100px 40px 100px 40px;
  }
}

section p {
  max-width: 660px;
}

.head__text p {
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 0;
}
.head__text__3 {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.text__context p {
  font-size: 18px;
}

section .section__btn {
  max-width: fit-content;
}
@media screen and (max-width: 960px) {
  section .section__btn {
    padding: 20px 30px;
  }
}
#sec1 {
  background: #da1c52;
  background-size: cover;
}
#sec2 {
  border-top: 2px solid white;
  background: #3d0aa6;
  background-size: cover;
}
#sec3 {
  border-top: 2px solid white;
  background: #fd8018;
  background-size: cover;
}

.faqs_main_container {
  background: #111011;
  padding: 20px;
}

.heading_2 {
  font-weight: 800;
  font-size: 84px;
  align-self: center;
  margin: 0;
  opacity: 0.9;
  color: white;
}
@media screen and (max-width: 960px) {
  .heading_2 {
    font-size: 60px;
  }
}

.para_2 {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Faqs Section */

container {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}

.accordion .accordion-item {
  border-bottom: 1px solid #ffffff;
}

.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid #03b5d2;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded="true"] {
  color: #03b5d2;
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 450;
  margin: 2em 0;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Our Goals List */
.para_2_goals {
  color: white;
  padding-top: 10px;
  font-weight: bold;
}
/*  Rarity */

.rarity_li li {
  border-bottom: 1px solid wheat;
  padding-bottom: 10px;
}

.future_li {
  background: -webkit-linear-gradient(#d4340c, #080802d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#about {
  background: #3d0aa6;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: auto 20px auto 50px;
}
@media screen and (max-width: 640px) {
  #about {
    flex-direction: column;
    padding: 10px 20px 10px 20px;
  }
  #about > h3 {
    padding-bottom: 20px;
  }
}
#about p {
  font-size: 20px;
  width: 480px;
  color: white;
}

#last {
  margin-bottom: 10px;
}
.heading__3 {
  font-weight: 800;
  font-size: 60px;
  align-self: center;
  margin: 0;
  opacity: 0.9;
  color: white;
}
@media screen and (max-width: 960px) {
  .heading__3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 640px) {
  .para_container {
    font-size: small;
  }
}
